In [1]:
import pandas as pd

In [7]:
df1 = pd.read_csv('All Delays 2018-19.csv')

In [8]:
df1.columns

Index(['FINANCIAL_YEAR_AND_PERIOD', 'ORIGIN_DEPARTURE_DATE',
       'TRUST_TRAIN_ID_AFFECTED', 'PLANNED_ORIG_LOC_CODE_AFF',
       'PLANNED_ORIG_GBTT_DATETIME_AFF', 'PLANNED_ORIG_WTT_DATETIME_AFF',
       'PLANNED_DEST_LOC_CODE_AFFECTED', 'PLANNED_DEST_GBTT_DATETIME_AFF',
       'PLANNED_DEST_WTT_DATETIME_AFF', 'TRAIN_SERVICE_CODE_AFFECTED',
       'SERVICE_GROUP_CODE_AFFECTED', 'OPERATOR_AFFECTED', 'ENGLISH_DAY_TYPE',
       'APP_TIMETABLE_FLAG_AFF', 'TRAIN_SCHEDULE_TYPE_AFFECTED',
       'TRACTION_TYPE_AFFECTED', 'TRAILING_LOAD_AFFECTED',
       'TIMING_LOAD_AFFECTED', 'UNIT_CLASS_AFFECTED', 'INCIDENT_NUMBER',
       'INCIDENT_CREATE_DATE', 'INCIDENT_START_DATETIME',
       'INCIDENT_END_DATETIME', 'SECTION_CODE',
       'NETWORK_RAIL_LOCATION_MANAGER', 'RESPONSIBLE_MANAGER',
       'INCIDENT_REASON', 'ATTRIBUTION_STATUS', 'INCIDENT_EQUIPMENT',
       'INCIDENT_DESCRIPTION', 'REACTIONARY_REASON_CODE',
       'INCIDENT_RESPONSIBLE_TRAIN', 'PERFORMANCE_EVENT_CODE', 'START_STANOX',
       'END_STANOX', 'EVENT_DATETIME', 'PFPI_MINUTES', 'TRUST_TRAIN_ID_RESP',
       'TRUST_TRAIN_ID_REACT'],
      dtype='object')

In [11]:
df1.head()

,FINANCIAL_YEAR_AND_PERIOD,ORIGIN_DEPARTURE_DATE,TRUST_TRAIN_ID_AFFECTED,PLANNED_ORIG_LOC_CODE_AFF,PLANNED_ORIG_GBTT_DATETIME_AFF,PLANNED_ORIG_WTT_DATETIME_AFF,PLANNED_DEST_LOC_CODE_AFFECTED,PLANNED_DEST_GBTT_DATETIME_AFF,PLANNED_DEST_WTT_DATETIME_AFF,TRAIN_SERVICE_CODE_AFFECTED,...,INCIDENT_DESCRIPTION,REACTIONARY_REASON_CODE,INCIDENT_RESPONSIBLE_TRAIN,PERFORMANCE_EVENT_CODE,START_STANOX,END_STANOX,EVENT_DATETIME,PFPI_MINUTES,TRUST_TRAIN_ID_RESP,TRUST_TRAIN_ID_REACT
0,2018/19_P01,01-APR-18,011B44MN01,1100,01-APR-2018 13:30,01-APR-2018 13:30,4303,01-APR-2018 16:50,01-APR-2018 16:50,23549003.0,...,1H45 LOST PTH DLW,YE,1H45,M,1100,1144,01-APR-2018 14:12,6.0,041H45MF01,061H09MI01
1,2018/19_P01,01-APR-18,011E17MF01,1100,01-APR-2018 09:40,01-APR-2018 09:40,54311,01-APR-2018 17:51,01-APR-2018 17:51,21701001.0,...,YRK AU TC FLR,YP,NaN,M,16005,16421,01-APR-2018 16:02,7.0,NaN,041E97MM01
2,2018/19_P01,01-APR-18,011M16MZ01,1100,01-APR-2018 20:26,01-APR-2018 20:26,72410,02-APR-2018 09:17,02-APR-2018 09:15,23558003.0,...,1M11 LOSS OF POWER GLQ LNZ,YD,NaN,M,4303,4303,02-APR-2018 01:58,50.0,NaN,061M11M701
3,2018/19_P01,01-APR-18,011M16MZ01,1100,01-APR-2018 20:26,01-APR-2018 20:26,72410,02-APR-2018 09:17,02-APR-2018 09:15,23558003.0,...,1M16 OVERTIME NCL,NaN,1M16,M,12931,12931,02-APR-2018 03:43,3.0,011M16MZ01,NaN
4,2018/19_P01,01-APR-18,011T80ML01,1100,01-APR-2018 12:44,01-APR-2018 12:44,6401,01-APR-2018 15:58,01-APR-2018 15:58,23549003.0,...,1H45 LOST PTH DLW,YE,1H45,M,1100,1144,01-APR-2018 13:31,7.0,041H45MF01,041H45MF01

In [5]:
df2 = pd.read_csv('All delays 2021-22 P10.csv')

In [6]:
df2.shape

(299459, 40)

In [9]:
print(f'Columns in 18-19: {df1.columns} /n Columns in 21-22: {df2.columns}')

Columns in 18-19: Index(['FINANCIAL_YEAR_AND_PERIOD', 'ORIGIN_DEPARTURE_DATE',
       'TRUST_TRAIN_ID_AFFECTED', 'PLANNED_ORIG_LOC_CODE_AFF',
       'PLANNED_ORIG_GBTT_DATETIME_AFF', 'PLANNED_ORIG_WTT_DATETIME_AFF',
       'PLANNED_DEST_LOC_CODE_AFFECTED', 'PLANNED_DEST_GBTT_DATETIME_AFF',
       'PLANNED_DEST_WTT_DATETIME_AFF', 'TRAIN_SERVICE_CODE_AFFECTED',
       'SERVICE_GROUP_CODE_AFFECTED', 'OPERATOR_AFFECTED', 'ENGLISH_DAY_TYPE',
       'APP_TIMETABLE_FLAG_AFF', 'TRAIN_SCHEDULE_TYPE_AFFECTED',
       'TRACTION_TYPE_AFFECTED', 'TRAILING_LOAD_AFFECTED',
       'TIMING_LOAD_AFFECTED', 'UNIT_CLASS_AFFECTED', 'INCIDENT_NUMBER',
       'INCIDENT_CREATE_DATE', 'INCIDENT_START_DATETIME',
       'INCIDENT_END_DATETIME', 'SECTION_CODE',
       'NETWORK_RAIL_LOCATION_MANAGER', 'RESPONSIBLE_MANAGER',
       'INCIDENT_REASON', 'ATTRIBUTION_STATUS', 'INCIDENT_EQUIPMENT',
       'INCIDENT_DESCRIPTION', 'REACTIONARY_REASON_CODE',
       'INCIDENT_RESPONSIBLE_TRAIN', 'PERFORMANCE_EVENT_CODE', 'START_STANOX',
       'END_STANOX', 'EVENT_DATETIME', 'PFPI_MINUTES', 'TRUST_TRAIN_ID_RESP',
       'TRUST_TRAIN_ID_REACT'],
      dtype='object') /n Columns in 21-22: Index(['FINANCIAL_YEAR_PERIOD', 'ORIGIN_DEPARTURE_DATE', 'TRUST_TRAIN_ID',
       'PLANNED_ORIGIN_LOCATION_CODE', 'PLANNED_ORIGIN_WTT_DATETIME',
       'PLANNED_ORIGIN_GBTT_DATETIME', 'PLANNED_DEST_LOCATION_CODE',
       'PLANNED_DEST_WTT_DATETIME', 'PLANNED_DEST_GBTT_DATETIME',
       'TRAIN_SERVICE_CODE', 'SERVICE_GROUP_CODE', 'TOC_CODE',
       'ENGLISH_DAY_TYPE', 'APPLICABLE_TIMETABLE_FLAG', 'TRAIN_SCHEDULE_TYPE',
       'TRACTION_TYPE', 'TRAILING_LOAD', 'TIMING_LOAD', 'UNIT_CLASS',
       'INCIDENT_NUMBER', 'INCIDENT_CREATE_DATE', 'INCIDENT_START_DATETIME',
       'INCIDENT_END_DATETIME', 'SECTION_CODE', 'NR_LOCATION_MANAGER',
       'RESPONSIBLE_MANAGER', 'INCIDENT_REASON', 'ATTRIBUTION_STATUS',
       'INCIDENT_EQUIPMENT', 'INCIDENT_DESCRIPTION', 'REACT_REASON',
       'INCIDENT_RESP_TRAIN', 'RESP_TRAIN', 'REACT_TRAIN', 'EVENT_TYPE',
       'START_STANOX', 'END_STANOX', 'EVENT_DATETIME', 'PFPI_MINUTES',
       'NON_PFPI_MINUTES'],
      dtype='object')

In [10]:
df = df1.append(df1, ignore_index=True)

In [11]:
df.shape

(980636, 39)

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490318 entries, 0 to 490317
Data columns (total 39 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   FINANCIAL_YEAR_AND_PERIOD       490318 non-null  object
 1   ORIGIN_DEPARTURE_DATE           490318 non-null  object
 2   TRUST_TRAIN_ID_AFFECTED         490318 non-null  object
 3   PLANNED_ORIG_LOC_CODE_AFF       490318 non-null  int64
 4   PLANNED_ORIG_GBTT_DATETIME_AFF  366415 non-null  object
 5   PLANNED_ORIG_WTT_DATETIME_AFF   490318 non-null  object
 6   PLANNED_DEST_LOC_CODE_AFFECTED  490318 non-null  int64
 7   PLANNED_DEST_GBTT_DATETIME_AFF  366415 non-null  object
 8   PLANNED_DEST_WTT_DATETIME_AFF   490318 non-null  object
 9   TRAIN_SERVICE_CODE_AFFECTED     490291 non-null  float64
 10  SERVICE_GROUP_CODE_AFFECTED     490291 non-null  object
 11  OPERATOR_AFFECTED               490291 non-null  object
 12  ENGLISH_DAY_TYPE                490318 non-null  object
 13  APP_TIMETABLE_FLAG_AFF          490318 non-null  object
 14  TRAIN_SCHEDULE_TYPE_AFFECTED    490318 non-null  object
 15  TRACTION_TYPE_AFFECTED          485188 non-null  object
 16  TRAILING_LOAD_AFFECTED          56039 non-null   float64
 17  TIMING_LOAD_AFFECTED            132349 non-null  object
 18  UNIT_CLASS_AFFECTED             89026 non-null   float64
 19  INCIDENT_NUMBER                 490318 non-null  int64
 20  INCIDENT_CREATE_DATE            490318 non-null  object
 21  INCIDENT_START_DATETIME         490318 non-null  object
 22  INCIDENT_END_DATETIME           490318 non-null  object
 23  SECTION_CODE                    490318 non-null  object
 24  NETWORK_RAIL_LOCATION_MANAGER   490318 non-null  object
 25  RESPONSIBLE_MANAGER             490318 non-null  object
 26  INCIDENT_REASON                 489939 non-null  object
 27  ATTRIBUTION_STATUS              490318 non-null  object
 28  INCIDENT_EQUIPMENT              247771 non-null  object
 29  INCIDENT_DESCRIPTION            490318 non-null  object
 30  REACTIONARY_REASON_CODE         300008 non-null  object
 31  INCIDENT_RESPONSIBLE_TRAIN      224342 non-null  object
 32  PERFORMANCE_EVENT_CODE          490318 non-null  object
 33  START_STANOX                    490318 non-null  int64
 34  END_STANOX                      490318 non-null  int64
 35  EVENT_DATETIME                  490318 non-null  object
 36  PFPI_MINUTES                    490318 non-null  float64
 37  TRUST_TRAIN_ID_RESP             209564 non-null  object
 38  TRUST_TRAIN_ID_REACT            207675 non-null  object
dtypes: float64(4), int64(5), object(30)
memory usage: 145.9+ MB

In [72]:
df_source = pd.read_csv('source_files.csv', sep=';', dtype={'date': str, 'URL': str })

In [73]:
df_source.head()

     date                                                URL
0  201801  https://sacuksprodnrdigital0001.blob.core.wind...
1  201802  https://sacuksprodnrdigital0001.blob.core.wind...
2  201803  https://sacuksprodnrdigital0001.blob.core.wind...

In [6]:
from datetime import datetime

In [75]:
date = datetime(2018,1,1)
calmonth = date.strftime("%Y%m")
print(calmonth)

201801

In [83]:
df_source['URL'][df_source.date == calmonth].to_list()[0]

'https://sacuksprodnrdigital0001.blob.core.windows.net/historic-delay-attribution/2018-19/All-Delays-2018-19-P01.zip'

In [20]:
df_stanox = pd.read_excel('Historic-Delay-Attribution-Glossary.xlsx', sheet_name = 0)
#                           , \
#                           dtype = {'STANOX NO.':'Int32', 'FULL NAME':object, 'CRS CODE':object, 'Route Description':object})

In [17]:
df_stanox.columns

Index(['STANOX NO.', 'FULL NAME', 'CRS CODE', 'Route Description'], dtype='object')

In [21]:
df_stanox.dtypes

STANOX NO.           float64
FULL NAME             object
CRS CODE              object
Route Description     object
dtype: object

In [23]:
pd.merge(df1, df_stanox, how='left', left_on = 'START_STANOX', right_on='STANOX NO.')['FULL NAME'].value_counts()

LONDON VICTORIA              5791
GATWICK AIRPORT              4593
PRESTON                      4202
LONDON BRIDGE                3932
LONDON WATERLOO              3892
                             ...
WATERBEACH                      1
FAREHAM NORTH JN                1
COLCHESTER RECEPTION LINE       1
COTON HILL TC GBRF              1
PONTLOTTYN                      1
Name: FULL NAME, Length: 3490, dtype: int64