In [1]:
import pandas as pd

In [14]:
df_stanox = pd.read_excel('Historic-Delay-Attribution-Glossary.xlsx',engine='openpyxl', sheet_name = 0
                          , \
                          dtype = {'STANOX NO.':'string', 'FULL NAME':'string', 'CRS CODE':'string', 
                                   'Route Description':'string'})
df_stanox.head()

  STANOX NO.                   FULL NAME CRS CODE Route Description
0      87904  3BDGS DN TL SDG ENTRY/EXIT     <NA>            Sussex
1      87915  3BDGS DOWN THAMESLINK SDGS     <NA>            Sussex
2      87907  3 BRIDGES DN DEP SIG TD127     <NA>            Sussex
3      87950  3 BRIDGES UP DEP SIG TD165     <NA>            Sussex
4      00005                      AACHEN     <NA>        High Speed

In [5]:
df_stanox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11233 entries, 0 to 11232
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   STANOX NO.         11231 non-null  string
 1   FULL NAME          11231 non-null  string
 2   CRS CODE           3068 non-null   string
 3   Route Description  11232 non-null  string
dtypes: string(4)
memory usage: 351.2 KB

In [59]:
schemas = {
    "Stanox Codes":{
        "sheetNo": 0,
        "schema": {'STANOX NO.':'string',
                   'FULL NAME':'string', 
                   'CRS CODE':'string', 
                   'Route Description':'string'}
    },
    "Incident Reason": {
        "Incident Category": "string",
         "Incident Reason": "string",
         "Incident Reason Name": "string",
         "Incident Category Description": "string",
         "Incident Reason Description": "string",
         "Incident JPIP Category": "string",
         "Incident Category Super Group Code": "string"},
    "Responsible Manager": {
        "Responsible Manager": "string",
        "Responsible Manager Name": "string",
        "Responsible Organisation": "string",
        "Responsible Organisation Full Name": "string",
        "Responsible Organisation Name": "string",
        "Responsible Org NR-TOC/FOC Others": "string"},
    "Reactionary Reasons":{
        "Reactionary Reason Code" : "string",
        "Reactionary Reason Description": "string",
        "Reactionary Reason Name": "string"},
    "Performance Event":{
        "Performance Event Types": "string",
        "Performance Event Group": "string",
        "Performance Event Name": "string"},
    "Service Group": {
        "Service Group Code": "string",
        "Service Group Description": "string",
        "TSC": "string",
        "TSC Description": "string"},
    "Operator": {
        "Operator Code": "string",
        "Operator Name": "string"},
    "Train Service": {
        "Service Group Code": "string",
        "Service Group Description": "string",
        "Train Service Code": "string",
        "TSC Description": "string"}
}

In [44]:
[*schemas['Responsible Manager'].keys()]

['Responsible Manager',
 'Responsible Manager Name',
 'Responsible Organisation',
 'Responsible Organisation Full Name',
 'Responsible Organisation Name',
 'Responsible Org NR-TOC/FOC Others']

In [28]:
df_sheet2 = pd.read_excel('Historic-Delay-Attribution-Glossary.xlsx',engine='openpyxl', sheet_name = 2
                          , skipfooter=2)
df_sheet2.head()

,Incident Category,Incident Reason,Incident Reason Name,Incident Category Description,Incident Reason Description,Incident JPIP Category,Incident Category Super Group Code
0,101,IB,POINTS FLR,Points failures,Points failure (including no fault found),Non-Track Assets,NTAG
1,101,IP,POINT HEAT,Points failures,Points failure caused by snow or frost where h...,Non-Track Assets,NTAG
2,101,JT,NO PNT HTR,Points failures,Points failure caused by snow or frost where h...,Non-Track Assets,NTAG
3,102,IQ,TRACK SIGN,Problems with trackside signs including TSR bo...,"Trackside sign blown down, fallen over, missin...",Network Management / Other,MCG
4,103,ID,LEVEL XING,Level crossing failures,Level crossing faults and failure incl. barrow...,Non-Track Assets,NTAG

In [29]:
df_sheet2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Incident Category                   365 non-null    object
 1   Incident Reason                     364 non-null    object
 2   Incident Reason Name                365 non-null    object
 3   Incident Category Description       365 non-null    object
 4   Incident Reason Description         365 non-null    object
 5   Incident JPIP Category              365 non-null    object
 6   Incident Category Super Group Code  365 non-null    object
dtypes: object(7)
memory usage: 20.1+ KB

In [30]:
df_sheet3 = pd.read_excel('Historic-Delay-Attribution-Glossary.xlsx',engine='openpyxl', sheet_name = 3,
                         dtype = schemas['Responsible Manager'], skipfooter=2)
df_sheet3.head()

,Responsible Managers.Responsible Manager,Responsible Manager Name,Responsible Organisation,Responsible Organisation Full Name,Responsible Organisation Name,Responsible Org NR-TOC/FOC Others
0,ACCQ,Railtest,SD,Serco Rail Operations,Serco Rail Ops,TOC/FOC
1,ACDA,Railtest,SD,Serco Rail Operations,Serco Rail Ops,TOC/FOC
2,ACQA,SERCO Railtest,SD,Serco Rail Operations,Serco Rail Ops,TOC/FOC
3,ADAA,RFD Terminal Automotive,WA,DB Cargo,DB Cargo,TOC/FOC
4,ADAC,RFD Terminal Chunnel,WA,DB Cargo,DB Cargo,TOC/FOC

In [31]:
df_sheet3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6889 entries, 0 to 6888
Data columns (total 6 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Responsible Managers.Responsible Manager  6889 non-null   object
 1   Responsible Manager Name                  6889 non-null   string
 2   Responsible Organisation                  6889 non-null   string
 3   Responsible Organisation Full Name        6889 non-null   string
 4   Responsible Organisation Name             6889 non-null   string
 5   Responsible Org NR-TOC/FOC Others         6889 non-null   string
dtypes: object(1), string(5)
memory usage: 323.0+ KB

In [45]:
df_sheet4 = pd.read_excel('Historic-Delay-Attribution-Glossary.xlsx',engine='openpyxl', sheet_name = 4
                          , names = [*schemas['Reactionary Reasons'].keys()]
                          , dtype = schemas['Reactionary Reasons']
                         , skipfooter=2)
df_sheet4.head()

,Reactionary Reason Code,Reactionary Reason Description,Reactionary Reason Name
0,AA,Waiting acceptance into off Network Rail netwo...,WTG ACCEPT
1,AB,Waiting Customer Release of Documentation,DOCUMENTS
2,AC,Waiting Train preparation or completion of TOP...,TRAIN PREP
3,AD,Off Network Rail network Terminal or Yard staf...,WTG STAFF
4,AE,Congestion in off Network Rail network Termina...,CONGESTION

In [33]:
df_sheet4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 3 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Reactionary Reasons.Reactionary Reason Code  364 non-null    object
 1   Reactionary Reason Description               365 non-null    string
 2   Reactionary Reason Name                      365 non-null    string
dtypes: object(1), string(2)
memory usage: 8.7+ KB

In [46]:
df_sheet5 = pd.read_excel('Historic-Delay-Attribution-Glossary.xlsx',engine='openpyxl', sheet_name = 5
                          , names = [*schemas['Performance Event'].keys()]
                          , dtype = schemas['Performance Event']
                         , skipfooter=2)
df_sheet5.head()

  Performance Event Types Performance Event Group Performance Event Name
0                       A            DELAY REPORT              Automatic
1                       C            CANCELLATION    Cancelled At Origin
2                       D            CANCELLATION               Diverted
3                       F            DELAY REPORT         Failed to Stop
4                       M            DELAY REPORT                 Manual

In [47]:
df_sheet5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Performance Event Types  8 non-null      string
 1   Performance Event Group  8 non-null      string
 2   Performance Event Name   8 non-null      string
dtypes: string(3)
memory usage: 320.0 bytes

In [50]:
df_sheet6 = pd.read_excel('Historic-Delay-Attribution-Glossary.xlsx',engine='openpyxl', sheet_name = 6
                          , names = [*schemas['Service Group'].keys()]
                          , dtype = schemas['Service Group']
                         , skipfooter=2)
df_sheet6.head()

,Service Group Code,Service Group Description,TSC,TSC Description
0,0003,National Adjustment Freight TOCs,12000345,National Adjustment Freight TOCs
1,0300,DBC UK: Royal Mail Services,56030020,DBC UK: Royal Mail Services
2,0300,DBC UK: Royal Mail Services,72030004,Post Office Parcels Train
3,0301,EWS - Parcelforce,72030104,Do Not Use Post Office Parcels Trains Scottish...
4,0302,DBC UK: Passenger Stock Moves,72030204,DBC UK: Passenger Stock Moves

In [51]:
df_sheet6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811 entries, 0 to 2810
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Service Group Code         2811 non-null   string
 1   Service Group Description  2811 non-null   string
 2   TSC                        2811 non-null   string
 3   TSC Description            2811 non-null   string
dtypes: string(4)
memory usage: 88.0 KB

In [55]:
df_sheet7 = pd.read_excel('Historic-Delay-Attribution-Glossary.xlsx',engine='openpyxl', sheet_name = 7
                          , names = [*schemas['Operator'].keys()]
                          , dtype = schemas['Operator']
                         , skipfooter=2)
df_sheet7.head()

  Operator Code            Operator Name
0            D1         Freightliner Inf
1            D2          Freightliner HH
2            DB  Freightliner Intermodal
3            E1             GWR Charters
4            EA                      TPE

In [56]:
df_sheet7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Operator Code  105 non-null    string
 1   Operator Name  105 non-null    string
dtypes: string(2)
memory usage: 1.8 KB

In [60]:
df_sheet8 = pd.read_excel('Historic-Delay-Attribution-Glossary.xlsx',engine='openpyxl', sheet_name = 8
                          , names = [*schemas['Train Service'].keys()]
                          , dtype = schemas['Train Service']
                         , skipfooter=2)
df_sheet8.head()

,Service Group Code,Service Group Description,Train Service Code,TSC Description
0,0003,National Adjustment Freight TOCs,12000345,National Adjustment Freight TOCs
1,0300,DBC UK: Royal Mail Services,56030020,DBC UK: Royal Mail Services
2,0300,DBC UK: Royal Mail Services,72030004,Post Office Parcels Train
3,0301,EWS - Parcelforce,72030104,Do Not Use Post Office Parcels Trains Scottish...
4,0302,DBC UK: Passenger Stock Moves,72030204,DBC UK: Passenger Stock Moves

In [61]:
df_sheet8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811 entries, 0 to 2810
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Service Group Code         2811 non-null   string
 1   Service Group Description  2811 non-null   string
 2   Train Service Code         2811 non-null   string
 3   TSC Description            2811 non-null   string
dtypes: string(4)
memory usage: 88.0 KB

In [2]:
dims = {
    "Stanox":{
        "sheetNo": 0,
        "schema": {
            "STANOX NO":"string",
            "FULL NAME":"string", 
            "CRS CODE":"string", 
            "Route Description":"string"
                }
    },
    "Incident":{
        "sheetNo": 2,
        "schema": {
            "Incident Category": "string",
            "Incident Reason": "string",
            "Incident Reason Name": "string",
            "Incident Category Description": "string",
            "Incident Reason Description": "string",
            "Incident JPIP Category": "string",
            "Incident Category Super Group Code": "string"
        }

    },
    "Responsible Manager": {
        "sheetNo": 3,
        "schema": {
            "Responsible Manager": "string",
            "Responsible Manager Name": "string",
            "Responsible Organisation": "string",
            "Responsible Organisation Full Name": "string",
            "Responsible Organisation Name": "string",
            "Responsible Org NR-TOC/FOC Others": "string"
        }
    },
    "Reactionary Reason": {
        "sheetNo": 4,
        "schema":{
            "Reactionary Reason Code" : "string",
            "Reactionary Reason Description": "string",
            "Reactionary Reason Name": "string"
        }
    },
    "Performance Event":{
        "sheetNo": 5,
        "schema":{
            "Performance Event Types": "string",
            "Performance Event Group": "string",
            "Performance Event Name": "string"
        }
    },
    "Service Group": {
        "sheetNo": 6,
        "schema": {
            "Service Group Code": "string",
            "Service Group Description": "string",
            "Train Service Code": "string",
            "TSC Description": "string"
        }
    },
    "Operator": {
        "sheetNo":7,
        "schema": {
            "Operator Code": "string",
            "Operator Name": "string"
        }
    }
}

In [5]:
dims["Operator"]["schema"]

{'Operator Code': 'string', 'Operator Name': 'string'}

In [8]:
for key in [*dims.keys()]:
    print(f'Sheet {dims[key]["sheetNo"]} is {key} \n')
    print(f'Sheet {key} has schema\n {dims[key]["schema"]}\n')

Sheet 0 is Stanox

Sheet Stanox has schema
 {'STANOX NO': 'string', 'FULL NAME': 'string', 'CRS CODE': 'string', 'Route Description': 'string'}

Sheet 2 is Incident

Sheet Incident has schema
 {'Incident Category': 'string', 'Incident Reason': 'string', 'Incident Reason Name': 'string', 'Incident Category Description': 'string', 'Incident Reason Description': 'string', 'Incident JPIP Category': 'string', 'Incident Category Super Group Code': 'string'}

Sheet 3 is Responsible Manager

Sheet Responsible Manager has schema
 {'Responsible Manager': 'string', 'Responsible Manager Name': 'string', 'Responsible Organisation': 'string', 'Responsible Organisation Full Name': 'string', 'Responsible Organisation Name': 'string', 'Responsible Org NR-TOC/FOC Others': 'string'}

Sheet 4 is Reactionary Reason

Sheet Reactionary Reason has schema
 {'Reactionary Reason Code': 'string', 'Reactionary Reason Description': 'string', 'Reactionary Reason Name': 'string'}

Sheet 5 is Performance Event

Sheet Performance Event has schema
 {'Performance Event Types': 'string', 'Performance Event Group': 'string', 'Performance Event Name': 'string'}

Sheet 6 is Service Group

Sheet Service Group has schema
 {'Service Group Code': 'string', 'Service Group Description': 'string', 'Train Service Code': 'string', 'TSC Description': 'string'}

Sheet 7 is Operator

Sheet Operator has schema
 {'Operator Code': 'string', 'Operator Name': 'string'}

In [9]:
path = './02-airflow/raw/Historic-Delay-Attribution-Glossary.xlsx'
path.rfind('/')

16

In [17]:
dim_name = 'STOX'
print(f'{path[:path.rfind("/")].replace("raw", "pq")}/{dim_name}.parquet')

./02-airflow/pq/STOX.parquet